.section-um{
	margin: 0;
}
.segundo-titulo{
	font-family: 'Baloo Chettan', cursive; 
	font-size: 60px;
	color: #6495ED;
 }
 .texto{
 	font-family: 'Indie Flower', cursive;
 	font-size: 30px;
 	color: #6B8E23;
 	background-color: #3CB371;
}